/* colori
    #14AAF5 azzurro bottone
    #C9D0D4 grigio button
    #2CC6AB verde background
    #AB5DE6 viola
    #FF9B00 arancio
    #EC4A9D fucsia
    #A3D116 verde pis
*/

html{
    background-color: #f6f8f9 ;
    font-family: "roboto", sans-serif;
    
}


body{
    margin: 0%;
}

.title{
    background-color: rgb(255, 255, 255);
    width: 100%;
    background-size: 20%;
    height: 100px;
}

.logo{
    width: 100px;
    vertical-align: middle;
  
}

.text{
    
    font-size: 50px;
    font-weight: 700;
    vertical-align: middle;
}


#site_main{
    margin: 0 auto;
    width: 800px;
    height: auto;

}
  
.site_nav{
    background-color: white;
    margin-top: 50px;
    width: 800px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }

.buttons{
    padding-top: 1em; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 70px;
    padding-bottom: 0.5em;
    border-bottom: solid 2px #f6f8f9;
    
}

.bottone1{
    color: white;
    background-color: #14AAF5;
    border-radius: 5px;
    border: none;
    padding: 10px 26px;
    text-align: center;

}

.bottone2{
    color: #C9D0D4;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #C9D0D4;
    padding: 10px 26px;
  
}

#containerlist{
    background-color: white;
    width: 800px;
    height: auto;
    margin-top: 10px;
    padding-bottom: 5px;
    
}

ul{
    list-style-type: none;
    font-size: 23px;
    margin-top: 80px;
    padding-left: 70px;

}

li{
    font-family: "roboto", sans-serif;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(66, 64, 64);
    
}

.editorial{
   color: white;
    background-color:#14AAF5;
    border-radius:15px;
    border: none;
    padding: 10px 26px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
}

.goals{
    color: white;
     background-color:#AB5DE6;
     border-radius:15px;
     border: none;
     padding: 10px 26px;
     text-align: center;
     margin-left: 8px;
     font-size: 14px;

}

.recruit{
    color: white;
     background-color:#2CC6AB;
     border-radius:15px;
     border: none;
     padding: 10px 26px;
     text-align: center;
     margin-left: 8px;
     font-size: 14px;

}

.mobile{
    color: white;
     background-color: #FF9B00;
     border-radius:15px;
     border: none;
     padding: 10px 26px;
     text-align: center;
     margin-left: 8px;
     font-size: 14px;

}

.web{
    color: white;
     background-color:#EC4A9D;
     border-radius:15px;
     border: none;
     padding: 10px 26px;
     text-align: center;
     margin-left: 8px;
     font-size: 14px;

}

.sales{
    color: white;
     background-color:#A3D116;
     border-radius:15px;
     border: none;
     padding: 10px 26px;
     text-align: center;
     margin-left: 8px;
     font-size: 14px;

}

.item{
    font-size: 24px;
}

.checkIcon{
    width: 32px;
    height: 32px;
    margin-right:8px;
}